* {
  padding: 0px;
  margin: 0px;
}

.our_map_location_heading {
  text-align: center;
  padding: 20px 0px;
}

.our_map_location_heading h1 {
  font-size: 60px;
}
.aboutUsSection {
  padding: 30px 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

.aboutUsSection .flx-parent {
  display: flex;
  justify-content: center;
}

.aboutUsSection .flx-parent .flx-child {
  max-width: 600px;
}

.aboutUsSection .flx-parent .flx-child .aboutUsHeader {
  font-size: 30px;
  padding-bottom: 10px;
}

.aboutUsSection .flx-parent .flx-child .aboutUsDescription {
  font-size: 18px;
  color: #575757;

  /* 3 types of spacing in a paragraph */
  letter-spacing: 1px;
  /* word-spacing: 10px; */
  line-height: 30px;

  text-align: justify;
}

.aboutUsFirstChild {
  margin-right: 30px;
}

/* 12 June 2020 */
.BackgroundBanner {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.5)),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.BackgroundBanner_flexParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Debugging */
  height: 100vh;
}

.BackgroundBanner_heading h1 {
  font-size: 90px;
  color: white;
  padding-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

.BackgroundBanner_heading h1 span {
  color: red;
}
.BackgroundBanner_subHeading {
  color: white;
  font-size: 41px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}
